<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="TODOリストの詳細ページです">
        <meta name="keywords" content="TODO">
        <title>TODO</title>
    </head>
    <body>
        <header>
            <h1>TODO APP</h1>
        </header>
        <main>{% block content %}{% endblock content %}</main>
        <footer>
            <p>© 2024 Django-Todo-App</p>
        </footer>
    </body>
</html>